@model ProftaakProject.Models.ViewModels.ArtikelViewModel
@{
    ViewData["Title"] = "Artikel";
}

@if (Model.post.Goedgekeurd == true)
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F55A1), to(#C42872)) 1 100%;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
else
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
@*<div class="Border container">
        <div>

        </div>
        <h2>@Model.post.Titel</h2>
        <hr />
        <div class="artikelInhoud">
            @Model.post.Inhoud
        </div>
        <hr />
        <p class="auteurText">Auteur: Model.Auteur.Naam</p>
    </div>*@
<div class="card">
    <div class="card-header">
        <img src="~/lib/Images/stockfoto.jpg" class="img-thumbnail" />
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.post.Titel</h4>
        <p class="card-text">@Model.post.Inhoud</p>
    </div>
    <div class="card-footer">
        <p class="auteurText">Model.Auteur.Naam</p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}