@model ProftaakProject.Models.ViewModels.ArtikelViewModel
@{
    ViewData["Title"] = "Artikel";
}

@if (Model.Goedgekeurd == true)
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F55A1), to(#C42872)) 1 100%;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
else
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
<div class="Border container">
    <div><img scr="Images/easyFlexLogo.png" alt="logo" style="width:50%" alt="stockfoto" style="width: auto; height: 300px;" /></div>
    <h2>@Model.Titel</h2>
    <hr />
    <div class="postInhoud">
        @Model.Inhoud
    </div>
    <hr />
    <p class="auteurText">Auteur: Model.Auteur.Naam</p>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}