@model ProftaakProject.Models.ViewModels.PostModels.FAQViewModel

@{
    ViewData["Title"] = "FAQ";
}

<div id="accordion">
    <form method="get" asp-controller="Post"><input class="btn" type="submit" value="Vraag aanmaken" asp-action="VraagToevoegen" /></form>
    @foreach (List<Post> listPost in Model.PopulaireVragen)
    {
        if (listPost.Count != 0)
        {
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@listPost[0].Tag.Naam" aria-expanded="true" aria-controls="collapseOne">
                            @listPost[0].Tag.Naam
                        </button>
                    </h5>
                </div>

                <div id="@listPost[0].Tag.Naam" class="collapse" data-parent="#accordion">
                    @foreach (Post post in listPost)
                    {
                        <div class="card-body">
                            <a href="@Url.Action("Vraag", "Post", new {Id = post.Id})">@post.Titel</a>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
