@model ProftaakProject.Models.Post

@{
    ViewData["Title"] = "PostToevoegen";
}

<h2>PostToevoegen</h2>

<h4>Post</h4>
<hr />
<body>
    <div class="container-fluid row postContainer">
        <div class="col-md-8 postAanmakenInhoud">
            <form asp-action="PostToevoegen">
                <div class="col-md-1 form-group postKoppen">
                    <label asp-for="Titel" class="control-label"></label>
                </div>
                <div class="col-md-11">
                    <input asp-for="Titel" class="form-control postTitel" />
                    <span asp-validation-for="Titel" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Datum" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="col-md-1 postKoppen">
                        <label asp-for="Inhoud" class=""></label>
                    </div>
                    <div class="col-md-10">
                        <textarea asp-for="Inhoud" class="postAanmakenInhoud"></textarea>
                        <span asp-validation-for="Inhoud" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>

