@model ProftaakProject.Models.Post

<br/>
<div class="container" id ="Post">
    <div class="row">
        <h2>Model.Titel</h2>
    </div>
    <div id="test" class="row">
        <p>Auteur: Model.Auteur.Naam</p>
    </div>
</div>