@model ProftaakProject.Models.Post;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>
<body>
@await Html.PartialAsync("_Post", Model)
</body>
<footer>
</footer>