@using ProftaakProject.Models.ViewModels.PostModels
@model ProftaakProject.Models.ViewModels.PostModels.PostViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @if (Model.HuidigeAccount.GeabonneerdeTags.Count > 0)
    {
        <div class="row">
            <div class="col-md-7 tagLijst">
                <nav id="colorlib-main-menu" role="navigation">
                    <div>
                        <h4>Geabonneerde Tags</h4>
                    </div>
                    @foreach (Tag tag in Model.HuidigeAccount.GeabonneerdeTags)
                    {
                        <a href="@Url.Action("AllePostsMetTagID", "Post", new { tagId = tag.Id })">
                            <div class="tagDiv">
                                <label>@tag.Naam</label>
                            </div>
                        </a>
                    }
                </nav>
            </div>
        </div>
    }
    @if (Model.sorteerInt == 0)
    {
        <form>
            <button type="submit" class="btn btn-dark" value="1" name="sorteerInt">Sorteer op Meest bekeken</button>
        </form>
    }
    else
    {
        <form>
            <button type="submit" class="btn btn-dark" value="0" name="sorteerInt">Sorteer op Nieuw</button>
        </form>
    }
    <br />
    @foreach (PostViewModel postTemp in Model.PostViewModels)
    {
        <div class="postTijdlijn">
            @await Html.PartialAsync("_Post", postTemp)
        </div>
    }
</div>