@model ProftaakProject.Models.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>
<body>
@foreach (Post postTemp in Model.Posts)
{
    <div class="postTijdlijn">
    @await Html.PartialAsync("_Post", postTemp)
    </div>
}
</body>
<footer>
</footer>