@model ProftaakProject.Models.ViewModels.VraagViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notificaties</title>
</head>
<body>
    <h2>Notificaties</h2>
    @{var heeftReacties = false;
        if (Model.Reacties != null || Model.Reacties.Count > 0)
        {
            foreach (Reactie reactie in Model.Reacties)
            {
                if (!reactie.Gezien)
                {
                    heeftReacties = true;
                    <div class="card-footer">
                        <a href="@Url.Action("Vraag", "Post", new {Id = reactie.PostID, reactieID = reactie.Id})">
                            <div class="card-footer">@reactie.Inhoud</div>

                            <div class="card-text" style="font-size:15px">
                                Auteur: @reactie.Auteur.Naam
                            </div>
                        </a>
                    </div>
                }
            }
        }
        if(!heeftReacties)
        {
            <div class="card-footer">
                <div class="card-footer">Er zijn geen nieuwe notificaties.</div>
                <div class="card-text" style="font-size:15px">
                </div>
            </div>
        }
    }
</body>
</html>
