@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Login</h1>
<br />


<div class="container">
    <form>
        <div class="row">
            <div class="col-md-2">
                <label>Geruikersnaam:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control LoginVelden" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Wachtwoord:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="password" id="LoginVelden" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 offset-2">
                <input type="submit" class="btn btn-primary btn-sm LoginKnoppen" value="Inloggen"/>
                <input type="submit" class="btn btn-primary btn-sm LoginKnoppen" value="Registreren"asp-controller="Account" asp-action="Registratie" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <input type="submit" class="btn btn-primary btn-sm LoginKnoppen" value="Wachtwoord Vergeten" />
            </div>
        </div>
    </form>
</div>