
@{
    ViewData["Title"] = "Registratie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registratie</h1>
<br />

<div class="container">
    <form>
        <div class="row">
            <div class="col-md-3">
                <label>Naam:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Email:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Gebuikersnaam:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Wachtwoord:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Herhaal Wachtwoord:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Geslacht:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Geboortedatum:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control RegistratieVelden" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-3">
                <input type="submit" class="btn btn-primary btn-sm" value="Registreer" />
            </div>
        </div>
    </form>
</div>

