@model ProftaakProject.Models.ViewModels.RolViewModel
@{
    ViewData["Title"] = "Profiel";
}

<h2>Rol Geven</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="RolGeven" method="post">
            <div class="form-group">
                <input type="hidden" value="@Model.UserId" />
                <label asp-for="NieuwRolId"></label>
                <select asp-for="NieuwRolId" class="form-control" id="Role">
                    @foreach (Role rol in Model.AlleRollen)
                    {
                        <option value="@rol.Id">@rol.Naam</option>
                    }

                </select>
                <button style="margin-top:10px" type="submit" asp-action="RolOpslaan" class="btn btn-primary">Opslaan</button>
            </div>
        </form>
    </div>
</div>


