@model ProftaakProject.Models.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "AccountToevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account toevoegen</h1>
<body>
    <div class="container-fluid row postContainer">
        <div class="col-md-11">
            <form>
                <div class="col-md-1 form-group postKoppen">
                    <label asp-for="Gebruikersnaam" class="control-label"></label>
                </div>
                <div class="col-md-11">
                    <input type="text" list="gebruikers" asp-for="Gebruikersnaam" />
                    <datalist id="gebruikers">
                        @foreach (Account account in Model.accs)
                        {
                            <option value="@account.Gebruikersnaam">@account.Gebruikersnaam</option>
                        }
                    </datalist>
                    <div class="KnopUitzend">
                        <input type="submit" value="Voeg toe" class="btn btn-primary" asp-controller="Uitzend" asp-action="AccountToevoegen" formmethod="post" />
                        <input type="submit" value="Terug" class="btn btn-primary" asp-controller="Uitzend" asp-action="Index" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>