@model ProftaakProject.Models.ViewModels.UitzendViewModel
@{
    ViewData["Title"] = "UitzendToevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (Model.Id < 0)
{
    <h1>Uitzendbureau toevoegen</h1>
}
else
{
    <h1>Uitzendbureau bewerken</h1>
}
<body>
    <div class="container-fluid row postContainer">
        <div class="col-md-8 postAanmakenInhoud">
            <form>
                <div class="col-md-1 form-group postKoppen">
                    <label asp-for="Naam" class="control-label"></label>
                </div>
                <div class="col-md-11">
                    <input asp-for="Naam" class="form-control" value="@Model.Naam" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
                <div class="col-md-11">
                    <div class="KnopUitzend">
                        @if (@Model.Id < 0)
                        {
                            <input type="submit" value="Aanmaken" class="btn btn-primary" asp-controller="Uitzend" asp-action="UitzendToevoegen" formmethod="post" />
                        }
                        else
                        {
                            <input type="submit" value="Bewerken" class="btn btn-primary" asp-controller="Uitzend" asp-action="UitzendToevoegen" formmethod="post" />
                        }
                        <input type="submit" value="Terug" class="btn btn-primary" asp-controller="Uitzend" asp-action="Index" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>