@model ProftaakApplicatieS2.Models.Post

@{
    ViewData["Title"] = "Vraag";
}

<h2>Vraag</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Vraag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoedgekeurdDoor" class="control-label"></label>
                <input asp-for="GoedgekeurdDoor" class="form-control" />
                <span asp-validation-for="GoedgekeurdDoor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalBekenen" class="control-label"></label>
                <input asp-for="AantalBekenen" class="form-control" />
                <span asp-validation-for="AantalBekenen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onderwerp" class="control-label"></label>
                <input asp-for="Onderwerp" class="form-control" />
                <span asp-validation-for="Onderwerp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inhoud" class="control-label"></label>
                <input asp-for="Inhoud" class="form-control" />
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Goedgekeurd" /> @Html.DisplayNameFor(model => model.Goedgekeurd)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

